<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <main>
        <div class="main-content">
            <div class="form-div">
                <form action="/user/login" method="POST">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" required><br>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required><br>
                    <button type="submit">Login</button>
                    <p>Don't have an account? <a href="/user/register">Register here</a></p>
                </form>
            </div>
        </div>
    </main>
</body>
</html>